{%extends "myproject/layout.html" %}

{%block body%}
<h1 style="color: red">Learn More</h1>
<body style="background-color: black">
<div class=container id="middle">
	<br/><br/><br/><br/><br/>
Cropping images is a fairly common use case in a Web application. For example, some applications let you upload a profile picture. In addition, it usually also let you crop and resize the image for a better result.

This application demonstrate how to upload an image, display a preview in a modal, crop the image and finally upload it and save in the server.

If you are not familiar with file upload in Django, check this post for a quick reference: How to Upload Files With Django.
Everyone is happy.</div>
</body>
{%endblock%}