{%extends "myproject/layout.html" %}
{%block title%}Register {%endblock%}

{%block body%}
<br/>

<body style="background-color: black">

    {% if message %}
    <br/>
    <center>
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    </center>
    {% endif %}

<br/>


    <div class="d-flex justify-content-center h-100">
        <div class="card" style="background-color: black">
            
            <div class="card-body">

                <h3 style="color: white;font-family: veranda">Register</h3>
                <form action="{% url 'register' %}" method="post">
                     {% csrf_token %}


                    <div class="md-form">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="username" placeholder="Username">                                
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope"></i>
                        <input type="email" class="form-control" name="email" placeholder="Your email">                                
                    </div>

                    <div class="md-form">
                        <i class="fa fa-key"></i>
                        <input type="password" class="form-control" name="password" placeholder="Password">                                
                    </div>

                     <div class="md-form">
                        <i class="fa fa-unlock-alt"></i>
                        <input type="password" class="form-control" name="confirmation" placeholder="Confirm password">                                
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register " style="background-color: red;color:white"  class="btn float-right login_btn">
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-center links" style="color: white;text-align: center">
                     Already have an account? <a href="{% url 'login' %}">Log In here.</a>
                </div>
              
            </div>
        </div>
    </div>



</body>

{%endblock%}