{% extends "blackcloverApp/layout.html" %}
{% load static %}

<!-- Title -->

{% block title %} Blackclover Cares{% endblock %}

<!-- JavaScript -->
{% block js %} <script src="{% static 'js/login.js' %}"></script> {% endblock %}
<!-- Body -->
{% block body %}
<!-- Navbar -->

  <div id="csrf">{% csrf_token %}</div>
<div class="collapse" id="navbarHeader">
 <div class="container-fluid text-center">
   <div class="row no-gutters">
<!-- Login -->
 <div id="nav-login" class="col-md-3 py-4">
   <h5 style="color: darkblue;font-weight: bold;">Login <i class="fa fa-sign-in"></i></h5>
   <form>
         <input class="form-control" id="username" name="username" type="text" placeholder="Username" required>
         <input class="form-control" id="password" name="password" type="password" placeholder="Password" required>
         <input class="form-control" id="key" name="key" type="password" placeholder="Blackclover's Key" required>
         <button class="btn float-right login_btn"  id="submit-login" style="background-color: darkblue;color:white">Login</button>
         
    </form>
    <div style="color: red;font-weight: bold;" class="error-login"></div>
 </div>

 <!-- Register -->
 <div id="nav-register" class="col-md-3 ml-md-auto py-4">
   <h5 style="color: darkblue;font-weight: bold;">New Account <i class="fa fa-plus-square"></i></h5>
   <form>    
     
      <input id="register-username" name="username"  type="text" class="form-control" name="username" placeholder="Username">                                
<input class="form-control" id="register-first-name" name="first_name" type="text" placeholder="First name" required>                                
<input class="form-control" id="register-last-name" name="last_name" type="text" placeholder= " Last name" required>                                
<input class="form-control"id="register-email" name="email" type="text" placeholder="Email" required>                                
<input type="password"  id="register-password" class="form-control" name="password" placeholder="Password">                                

<input type="password" class="form-control" name="confirmation" placeholder="Confirm password">                                
<input class="form-control" id="register-key" name="key" type="password" placeholder="Blackclover Cares Key" required>  
  <div class="form-group">
      <input type="submit" id="submit-register" style="background-color: darkblue;color:white"  class="btn float-right login_btn">
  </div>
 
   </form>
   <div style="color: red;font-weight: bold;" class="error-register"></div> 
 </div>
 </div>
 </div>
 </div>

 <!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-pink border">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><i class="fa fa-pagelines fa-2x" aria-hidden="true"></i><span style="font-weight: bold;font-size: larger;">  Blackclover Cares </span></a>    
    {% if patient.fname %}
    <div class="alert alert-success" role=alert>Patient's appointment is registered <br/> {{ patient.fname }} {{patient.lname}} || <b>{{patient.date}} {{ patient.time }} </b> || <b> Dr.{{patient.doctor}} </b><br/>
      <a href="{%url 'logout_view' %}" >Logout</a> Or Go Back for making another appointment
    </div>
   
    {% endif %}
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
       <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        
        <li type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <a class="nav-link"><button class="btn btn-success">Fix Patient's Appointment</button></a>
          </li>

           <li class="nav-item"  ><a href="{%url 'index' %}" class="nav-link"><button class="btn btn-secondary">Home</button></a></li>
          <li class="nav-item" id="team"><a href="#doctors" class="nav-link"><button class="btn btn-secondary">Doctors</button></a></li>
          <li class="nav-item" id="our-services"><a href="#services" class="nav-link"><button class="btn btn-secondary">Our Services</button></a></li>
          


             </ul>
         </div>
     </nav>
     
     <div id="home">
       <br/>  <br/>  <br/>
      <div style="text-align: left;color: rgb(2, 2, 41);font-family: sans-serif;" >
         BLACKCLOVER CARES
   <p style="font-size: larger;font-weight: bold;font-size: 70px;">
   Our doctors'<br/> Appointment Portal</p>
        This application let doctors/receptionist to fix <br/> appointments for the patients.</div>
     </div>

     <!-- Our Services -->
     <div class="divSection">
       <div class="container-fluid">
        <h2 class="text-center" style="color: rgb(4, 4, 80);font-weight:bold;">"Service to Mankind is the service to God"</h2>
         <div class="row">
           <div class="col-sm-6" id="services">
             <img src="{% static 'img/ourServices.jpg' %}" alt="" class="img-fluid">
           </div>
           <div class="col-sm-6">
            
             <p style="color: black;font-size: medium;">We tackle the most difficult challenges , not only to provide the best possible health outcomes for our patients but to push innovation further.</p>
             <ul  style="color: black;font-size: medium;">
               <li>Ward Facilities: provide both inpatient and outpatient care provisions</li>
               <li>Nursing: connecting bridges between doctors and the patients they treat. Nurses look after the overall well being of patients.</li>
               <li>Out patient Department( OPD): A set of skilled doctors along with technicians , who can assist patients in preliminary diagnosis and related treatments.</li>
               <li>Intensive Care Unit(ICU): equipped with modern technical apparatus and skilled professionals who can render best services.</li>
               <li>Pharmacy and Diagnosis: easy and quick availability of medicines and other equipment required for treatment procedure</li>
               <li>Availability: 24 x7</li>
             </ul>
           </div>
           </div>
           </div>
</div>
<!-- Fixed Img -->

<div id="fixedImg">
</div>
<!-- Team -->

<div class="divSection">
<div class="container-fluid" id="doctors">
  <h2 class="text-center" style="color: rgb(4, 4, 80);font-weight:bold">Our Specialized Doctors</h2>
  <div class="row">
    <div class="col-sm-2" >
      <img src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid">Dr. Amanda Li
    
      <br/><br/>
    <img src="https://thumbs.dreamstime.com/b/young-male-doctor-close-up-happy-looking-camera-56751540.jpg" alt="" class="img-fluid">Dr. George Ben
    <br/><br/>
    <img src="https://images.pexels.com/photos/4173239/pexels-photo-4173239.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="img-fluid">Dr. Jonathan Gilbert
    <br/><br/>
    <img src="https://images.pexels.com/photos/4173251/pexels-photo-4173251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="img-fluid">Dr. Nezuko
  
    </div>
    <br/>
    
    
    <div class="col-sm-6">
    
      <ul style="color: black;font-size: medium;font-family: sans-serif;">
        <br/>
        <li><b>Dr Amanda Li</b> <p>

          MBBS, RACGP<br/>          
          Over 20 years’ experience as a GP.<br/>          
          Special Interests:
          
          Chronic Disease,
          Women’s Health,
          Minor Surgery,
          Paediatrics</p> </li>
        <br/>
        <li><b>Dr George Ben</b> <p>

          MBBS, MD<br/>          
          Over 14 years’ experience as a Surgeon.   <br/>       
          Special Interests:
         Medicine,
          Major Surgery,
         </p> </li>
        <br/>
        <li><b>Dr Jonathan Gilbert</b> <p>

          MBBS, RACGP<br/>          
          Over 35 years’ experience as a Neurologist.  <br/>        
          Special Interests:
          
          Chronic Disease,
          Neurology,
          Surgery,
          </p> </li>
       <br/>
       <li><b>Dr Nezuko</b> <p>

        MBBS, MD<br/>          
        Over 10 years’ experience as a Doctor. <br/>         
        Special Interests:  
        Women’s Health,
        Minor Surgery,
        Paediatrics</p> </li>
      </ul>
    </div>
  </div>
  </div>
</div>
<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
              <p><b>Blackclover Cares</b></p>
              <p>Plot No. 1, Sector 16,
              Faridabad, Haryana 121002.</p>
            <p>Enquiry : +91 129 4330000 ,
               Emergency : +91-8506011111</p>
            <p>Email Id : helpdesk@blackclovercares.com</p>
            </div>
    <center>
    <div class="col-sm" >
      <p class="footer-company-name" >© 2020 tanujajoshi24</p>
    </div>
  </center>
</div>
</div>
</footer>
{% endblock %}
